
# Mod_Autoindex
<IfModule mod_autoindex.c>
    # Запрещаем просмотр содержимого папок
    Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
	
	RewriteCond %{HTTP_HOST} ^www\.(.*)$
	RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

    # Backend redirect
    RewriteCond %{REQUEST_URI} ^/backend
    RewriteRule ^backend/(.*)$ backend/web/$1 [L]

    # Storage redirect
    RewriteCond %{REQUEST_URI} ^/storage
    RewriteRule ^storage/(.*)$ storage/$1 [L]
    
    # Frontend redirect
    RewriteCond %{REQUEST_URI} ^(.*)$
    RewriteRule ^(.*)$ frontend/web/$1
	
</IfModule>